.heading {
  /* width: 50%; */
  display: flex;
  margin: auto;
  height: fit-content;
  margin-bottom: 70px;
}
.heading-content {
  text-align: center;
}

.heading-content h2 {
  font-size: 45px;
  font-weight: 700;
}

@media (max-width: 500px) {
  .heading-content h2 {
    font-size: 35px;
  }
  .heading {
    margin-top: 0px;
  }
}
