.hero {
  display: flex;
  align-items: center;
  margin: 22px;
  height: fit-content;
  margin-bottom: 70px;
}
.hero-left {
  display: flex;
  margin: auto;
  max-width: 50%;
}
.hero-left h1 {
  color: #101010;
  font-size: 64px;
  font-weight: 700;
}
.hero-right {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 50%;
}
.hero-right p {
  color: #666666;
  font-size: 18px;
  font-weight: 500;
}
.book-a-call {
}
@media (max-width: 1280px) {
  .hero {
    margin: auto;
    margin-bottom: 70px;
  }
  .hero-left {
    margin: auto;
  }
  .hero-left h1 {
    color: #101010;
    font-size: 50px;
    font-weight: 700;
  }

  .hero-right p {
    color: #666666;
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 1080px) {
  .hero-left {
    width: 400px;
    margin: auto;
  }
  .hero-left h1 {
    color: #101010;
    font-size: 45px;
    font-weight: 700;
  }

  .hero-right p {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
  }
}
@media (max-width: 800px) {
  .hero-left {
    margin: auto;
  }
  .hero-left h1 {
    color: #101010;
    font-size: 38px;
    font-weight: 700;
  }
  .hero-right p {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 10px;
  }
}

@media (max-width: 500px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
  .hero-left {
    margin: auto;
    padding: 20px 0px;
    max-width: 100%;
  }
  .hero-left h1 {
    color: #101010;
    font-size: 20px;
    font-weight: 700;
  }
  .hero-right {
    max-width: 100%;
  }
  .hero-right p {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    max-width: 100%;
  }
  .book-a-call {
    padding: 20px 0px;
  }
}
