.hero {
  display: flex;
  align-items: center;
  /* margin: 22px; */
  height: fit-content;
  /* margin-bottom: 70px !important; */
  margin: 100px auto 125px auto;
}
.hero-left {
  display: flex;
  margin-right:50px;
}
.hero-left h2 {
  color: #101010;
  font-size: 60px;
  font-weight: 700;
}
.hero-right {
  display: flex;
  flex-direction: column;
  margin-left:50px;
}
.hero-right p {
  color: #666666;
  font-size: 25px;
  font-weight: 300;
}

@media (max-width: 800px) {
  .hero {
    padding:0px 25px;
    display: block;
  }
  .hero-left {
    margin:0px; 
    min-width: 100%;
  }
  .hero-left h2 {
    margin: 0px;
  }
  .hero-right {
    margin-left:0px;
  }
  .hero-left h1 {
    color: #101010;
    font-size: 38px;
    font-weight: 700;
  }
  .hero-right p {
    color: #666666;
    font-size: 25px;
    font-weight: 300;
    margin: 30px 0px;
  }
}

@media (max-width: 500px) {
  .hero-left h2 {
    font-size: 35px;
  }
  .hero-right p {
    font-size: 20px;
  }
}


