.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dfdfdf;
  border-radius: 50px;
  height: fit-content;
  margin: auto !important;
  margin-top: 25px !important;
  margin-bottom: 70px !important;
  max-width: 1400px;
}

.nav-logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.nav-logo h4 {
  padding: 5px 10px;
  color: blue;
}
.nav-items {
  padding: 0px 15px;
}

.items {
  display: flex;
  gap: 20px;
  align-items: center;
}

.items li {
  list-style: none;
  padding: 0px 10px;
  color: #525560;
  font-size: 16px;
}

.items button {
  font-size: 16px;
  background-color: #0054cb;
  color: #ffff;
  width: 9rem;
  height: 3rem;
  align-items: center;
  border: none;
  border-radius: 25px;
}
@media (max-width: 800px) {
  .nav-logo {
    padding-left: 0px;
  }
  .nav-items {
    padding: 0px 10px;
  }
  .items {
    gap: 5px;
  }
  .items li {
    list-style: none;
    padding: 0px 5px;
    color: #525560;
    font-size: 14px;
  }
  .items button {
    font-size: 14px;
    width: 140px;
  }
}
@media (max-width: 500px) {
  .navbar {
    height: 3.5rem;
    align-items: center;
  }
  .nav-items {
    display: none;
    top: 68px;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffff;
    padding: 10px;
  }
  .items {
    flex-direction: column;
    align-items: start;
  }
  .items li {
    font-size: 18px;
  }
  .items button {
    font-size: 16px;
    background-color: #fff;
    color: #525560;
    align-items: center;
    border: none;
    border-radius: 25px;
  }
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #0054cb;
  margin: 4px 0;
  transition: 0.4s;
}

.nav-items.show {
  display: block;
  position: absolute;
  top: 83px;
  left: 0;
  width: 100%;
  background-color: #ffff;
  padding: 10px;
  z-index: 1000;
}
.nav-items.show .items {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 700px) {
  .nav-logo {
    padding-left: 0px;
  }

  .nav-items {
    display: none;
  }

  .hamburger-menu {
    display: block;
    margin-right: 10px;
  }

  .items {
    gap: 5px;
    padding: 10px;
  }

  .items li {
    list-style: none;
    padding: 10px 5px;
    color: #525560;
    font-size: 14px;
    width: 85%; /* to be check */
    border-bottom: 0.5px dotted;
  }

  .items button {
    font-size: 14px;
    width: 140px;
  }

  .bar.animate:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .bar.animate:nth-child(2) {
    opacity: 0;
  }

  .bar.animate:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
