.footer {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  /* width: 100%; */
}

.footer-right {
  margin-top: 10px;
  display: flex;
  /* flex-direction: column; */
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.content,
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* margin-top: 10px; */
}
.content p {
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  color: #525560;
}
.content li,
.icons span {
  list-style: none;
  cursor: pointer;
}

@media (max-width: 500px) {
  .footer{
    justify-content:flex-start;
  }
  .footer-right {
    /* flex-direction: column; */
    margin-top: 0;
    gap: 20px;
  }
  .footer-left {
    display: flex;
    justify-content: center;
  }
  .content {
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    align-items: normal;
  }
  .icons{
    align-items: normal;
  }
}
