.About {
  padding-top: 40px;
}

.heading {
  display: flex;
  margin: auto;
  height: fit-content;
  margin-bottom: 70px;
  justify-content: center;
}

.heading-content {
  text-align: center;
}

.heading-content p {
  font-size: 48px;
  font-weight: 700;
}

.About-img-content {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.About-img {
  height: inherit;
  max-height: 500px;
  max-width: 400px;
  box-shadow: 5px 5px 10px 0 rgba(217, 216, 216, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid #c8c8c8;
}

.img {
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.AboutUs-content {
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.AboutUs-content p {
  padding: 0px 15px;
  font-size: 30px;
  font-weight: 600;
  position: relative;
}

.AboutUs-content span {
  padding: 0px 15px;
  font-size: 20px;
  font-weight: 500;
  color: #3d3d3d;
}

.AboutUs-Rohan {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 280px;
  height: 400px;
}

.discription {
  padding: 0px 15px;
  color: #6e6e73;
  font-size: 15px;
  /* margin: auto; */
}

.AboutUs-content .discription {
  height: 0;
  display: none;
  overflow: hidden;
}

.About-img:hover .AboutUs-content .discription {
  height: fit-content;
  max-height: 200px;
  font-size: 12px;
  font-weight: 500;
  display: block;
  opacity: 1;
  transition: height 0.5s ease; /* Adjust transition timing */
  cursor: pointer;
  /* padding: 0; */
}

/* Apply styles to the hovered card */
.About-img:hover .AboutUs-content {
  padding-bottom: 20px; /* Add some space at the bottom when hovered */
}

/* Hide description by default */
.AboutUs-content .discription {
  height: 0;
  overflow: hidden;
}

.AboutUs-content:hover .discription {
  height: fit-content;
  /* max-height: 200px; */
  font-size: 12px;
  font-weight: 500;
  display: block;
  opacity: 1;
  transition: 5s;
  transition-delay: 2s;
  cursor: pointer;
  max-width: 300px;
}
@media (max-width: 420px) {
  .About-img {
    max-width: 290px;
    height: auto;
  }
}
@media (max-width: 350px) {
  .About-img {
    max-width: 250px;
  }
}
