.Offers {
  width: 90%;
  display: flex;
  height: fit-content;
  margin: auto;
  margin-bottom: 70px;
}

.Offers-one {
  display: flex;
  gap: 20px;
  max-width: 100%;
  height: 270px;
}

.Offers-one-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.Offers-one-number .counter {
  font-size: 55px;
  font-weight: bold;
  color: #c8c8c8;
}

.Offers:hover .Offers-one-number h1 {
  color: #0054cb;
}

.Offers:hover .Offer-content-img {
  background: #f9f9f9;
}

.Offer-content-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c8c8c8;
  border-radius: 25px;
  width: 80vw;
}

.Offers-one-content {
  width: 80%;
  padding: 0px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Offers-one-content h4 {
  color: #8d8d8d;
  font-size: 25px;
  margin:0px;
}

.Offers-one-content h3 {
  color: #101010;
  font-size: 28px;
  margin:0px;
}

.Offers-one-content h3 span {
  color: #0054cb;
  cursor: pointer;
}

.Offers-one-content p {
  font-size:20px;
  font-weight: 300;
  margin:0px;
}

.Offer-one-img {
  width: 100px;
  display: flex;
  align-items: flex-end;
}

.button-cont {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .Offers {
    margin: 0px 10px 30px 10px;
    width: auto;
    max-width: 100%;
  }
  .Offers-one-content h3 {
    font-size: 22px;
  }
  .Offers-one-number {
    width: 10%;
  }
  .Offers-one-number .counter {
    font-size: 40px;
  }
  .Offer-content-img {
    width: auto;
    padding: 25px !important;
  }
}

@media (max-width: 500px) {
  .Offers-one {
    height:auto;
  }
  .Offers-one-content h4 {
    font-size: 15px;
  }
  .Offers-one-content h3 {
    font-size: 17px;
  }
  .Offers-one-content p {
    font-size: 14px;
    font-weight: 300;
    margin: 0px;
  }
  .Offer-one-img {
    width: 70px;
  }
  .Offers-one-content {
    gap:10px;
  }
  .Offer-content-img {
    border: 1px solid #a1a1a1;
  }
  .Offers-one-number .counter {
    font-size: 30px;
  }
  .offer-container {
    margin-bottom: 50px;
  }
}
